In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.datasets import fetch_california_housing

In [7]:
dataset = fetch_california_housing(as_frame=True)

data = dataset.data
target = dataset.target

print('Shape of the feature data is {}'.format(data.shape))
print('Shape of the target data is {}'.format(target.shape))

Shape of the feature data is (20640, 8)
Shape of the target data is (20640,)

In [8]:
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [9]:
target.head()

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

In [ ]:
data.describe