### Python list VS numpy ndarray
- numpy array allows element wise operations

In [16]:
import numpy as np
import pandas as pd

In [17]:
def add_separator():
    print('************************************')

In [18]:
my_python_list = [1,2,3,4,5]
my_1d_numpy_array = np.array(my_python_list)
print("list = {}, data type = {}".format(my_python_list, type(my_python_list)))
print("numpy array = {}, data type = {}, shape = {}".format(my_1d_numpy_array, type(my_1d_numpy_array), my_1d_numpy_array.shape))

list = [1, 2, 3, 4, 5], data type = <class 'list'>
numpy array = [1 2 3 4 5], data type = <class 'numpy.ndarray'>, shape = (5,)

In [19]:
my_python_list + 1 # This will give a RUNTIME ERROR as list can only be concatenated with another list

TypeError: can only concatenate list (not "int") to list

In [20]:
print('Adding 1 to the array')
print(my_1d_numpy_array + 1) # This will work for a numpy array, it will add 1 for every elements in the array
add_separator()
print(my_python_list + my_python_list) # This operation concatenates one list after another
add_separator()
print('Adding array to the array')
print(my_1d_numpy_array + my_1d_numpy_array) # This operation adds the elements position wise for the arrays
add_separator()
print('Subtracting array from the array')
print(my_1d_numpy_array - my_1d_numpy_array) # This operation subtracts the elements position wise for the arrays
add_separator()
print('Multiplying array with 2')
print(my_1d_numpy_array * 2) # This operation multiplies the elements by 2 position wise

Adding 1 to the array
[2 3 4 5 6]
************************************
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
************************************
Adding array to the array
[ 2  4  6  8 10]
************************************
Subtracting array from the array
[0 0 0 0 0]
************************************
Multiplying array with 2
[ 2  4  6  8 10]

In [21]:
my_2d_numpy_array = np.array([my_python_list, my_python_list])
print(my_2d_numpy_array)
add_separator()
print('data type = {}, shape = {}'.format(type(my_2d_numpy_array), my_2d_numpy_array.shape))

[[1 2 3 4 5]
 [1 2 3 4 5]]
************************************
data type = <class 'numpy.ndarray'>, shape = (2, 5)

In [36]:
print('Adding 1 to the array')
print(my_2d_numpy_array + 1) # This will work for a numpy array, it will add 1 for every elements in the array
add_separator()
print('Adding array to the array')
print(my_2d_numpy_array + my_2d_numpy_array) # This operation adds the elements position wise for the arrays
add_separator()
print('Subtracting array from the array')
print(my_2d_numpy_array - my_2d_numpy_array) # This operation subtracts the elements position wise for the arrays
add_separator()
print('Multiplying array with 2')
print(my_2d_numpy_array * 2) # This operation multiplies the elements by 2 position wise
add_separator()
print('Extracting elements from the 2d array - the FIRST dimension')
print(my_2d_numpy_array[0])
add_separator()
print('Extracting elements from the 2d array - the SECOND dimension')
print(my_2d_numpy_array[0][0])
print(my_2d_numpy_array[0,0])

Adding 1 to the array
[[2 3 4 5 6]
 [2 3 4 5 6]]
************************************
Adding array to the array
[[ 2  4  6  8 10]
 [ 2  4  6  8 10]]
************************************
Subtracting array from the array
[[0 0 0 0 0]
 [0 0 0 0 0]]
************************************
Multiplying array with 2
[[ 2  4  6  8 10]
 [ 2  4  6  8 10]]
************************************
Extracting elements from the 2d array - the FIRST dimension
[1 2 3 4 5]
************************************
Extracting elements from the 2d array - the SECOND dimension
1
1

In [37]:
my_3d_numpy_array = np.array([[my_python_list, my_python_list]])
print(my_3d_numpy_array)
add_separator()
print('data type = {}, shape = {}'.format(type(my_3d_numpy_array), my_3d_numpy_array.shape))

[[[1 2 3 4 5]
  [1 2 3 4 5]]]
************************************
data type = <class 'numpy.ndarray'>, shape = (1, 2, 5)

In [38]:
print('Adding 1 to the array')
print(my_3d_numpy_array + 1) # This will work for a numpy array, it will add 1 for every elements in the array
add_separator()
print('Adding array to the array')
print(my_3d_numpy_array + my_3d_numpy_array) # This operation adds the elements position wise for the arrays
add_separator()
print('Subtracting array from the array')
print(my_3d_numpy_array - my_3d_numpy_array) # This operation subtracts the elements position wise for the arrays
add_separator()
print('Multiplying array with 2')
print(my_3d_numpy_array * 2) # This operation multiplies the elements by 2 position wise
add_separator()
print('Extracting elements from the 3d array - the FIRST dimension')
print(my_3d_numpy_array[0])
add_separator()
print('Extracting elements from the 3d array - the SECOND dimension')
print(my_3d_numpy_array[0][0])
print(my_3d_numpy_array[0,0])
add_separator()
print('Extracting elements from the 3d array - the THIRD dimension')
print(my_3d_numpy_array[0][0][0])
print(my_3d_numpy_array[0,0,0])

Adding 1 to the array
[[[2 3 4 5 6]
  [2 3 4 5 6]]]
************************************
Adding array to the array
[[[ 2  4  6  8 10]
  [ 2  4  6  8 10]]]
************************************
Subtracting array from the array
[[[0 0 0 0 0]
  [0 0 0 0 0]]]
************************************
Multiplying array with 2
[[[ 2  4  6  8 10]
  [ 2  4  6  8 10]]]
************************************
Extracting elements from the 3d array - the FIRST dimension
[[1 2 3 4 5]
 [1 2 3 4 5]]
************************************
Extracting elements from the 3d array - the SECOND dimension
[1 2 3 4 5]
[1 2 3 4 5]
************************************
Extracting elements from the 3d array - the THIRD dimension
1
1

### Python set

In [56]:
list_countries = ['India', 'England', 'France', 'Greece', 'Nepal', 'India']
set_countries = set(list_countries)
print('List allows duplicates')
print(list_countries)
add_separator()
print('Set doesnt allow duplicates')
print(set_countries)

List allows duplicates
['India', 'England', 'France', 'Greece', 'Nepal', 'India']
************************************
Set doesnt allow duplicates
{'Greece', 'France', 'England', 'Nepal', 'India'}

In [59]:
print('List is an ordered collection, hence it allows to extract elements based on indexes')
print(list_countries[0])

List is an ordered collection, hence it allows to extract elements based on indexes
India

In [60]:
print('Set is NOT an ordered collection, hence it doesnt allow to extract elements based on indexes')
print(set_countries[0])

Set is NOT an ordered collection, hence it doesnt allow to extract elements based on indexes

TypeError: 'set' object is not subscriptable

In [63]:
print('List is mutable, hence it allows to add elements')
list_countries.append('Italy')
print(list_countries)

List is mutable, hence it allows to add elements
['India', 'England', 'France', 'Greece', 'Nepal', 'India', 'Italy', 'Italy', 'Italy']

In [64]:
print('Set is NOT mutable, hence it doesnt allow to add elements')
set_countries.append('Italy')
print(set_countries)

Set is NOT mutable, hence it doesnt allow to add elements

AttributeError: 'set' object has no attribute 'append'

### Dictionary

In [43]:
list_countries = {
    'name' : ['India', 'England', 'France', 'Greece', 'Nepal'],
    'capital' : ['New Delhi', 'London', 'Paris', 'Athens', 'Kathmundu']
}

print(list_countries)
print(type(list_countries))

{'name': ['India', 'England', 'France', 'Greece', 'Nepal'], 'capital': ['New Delhi', 'London', 'Paris', 'Athens', 'Kathmundu']}
<class 'dict'>

In [44]:
my_dataframe = pd.DataFrame(data = list_countries)

In [45]:
my_dataframe

      name    capital
0    India  New Delhi
1  England     London
2   France      Paris
3   Greece     Athens
4    Nepal  Kathmundu